<div{{ attributes.addClass('ui-patterns-decoupled-vue') }} xmlns="">
  <component is="{{ component }}" {{ setting_attributes }}>
  {% for key, field in fields %}
    {%  if key != 'default' %}
    <template #{{ key }}>{{ field }}</template>
    {% else %}
      <template>{{ field }}</template>
    {% endif %}
  {% endfor %}
  </component>
</div>
{{ attach_library('ui_patterns_decoupled/vue') }}
